<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastAPI Home</title>
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to FastAPI</h1>
        <h1>Login Coming Soon</h1>
        <h1>Updatee</h1>
        <p>This is a simple homepage rendered using Jinja2 templates.</p>
        <a href="/api/info" target="_blank" class="api-link">Test API Endpoint →</a>
    </div>
</body>
</html>
